{{#if view.activitiesSection}}
  <div {{action 'openLearningActivitiesModal'}} class="stack-section">
    <div class="stack">
      {{#each view.stickies}}
        {{view "sticky" contentBinding="this"}}
      {{/each}}
      {{#unless view.stickies}}
        {{view "sticky" contentBinding="view.freshStickies.firstObject"}}
      {{/unless}}
    </div>
  </div>
{{else}}
  <div {{action 'openStickyListModal' view.section view.modalName}} class="stack-section">
    <div class="stack">
      {{#each view.stickies}}
        {{view "sticky" contentBinding="this"}}
      {{/each}}
      {{#unless view.stickies}}
        {{view "sticky" contentBinding="view.freshStickies.firstObject"}}
      {{/unless}}
    </div>
  </div>
{{/if}}