<div class="row-modal row-1-modal whiteboard">
  <div class="sticky-modal-header">
    <ul class="list-inline">
      <li>
        <ul class="list-unstyled">
          <li><b class="section-title">Evidence of Understandings</b></li>
          <li>
            <a href="#" {{action 'showVideo'}}>
              How do I create this evidence?
              <i class="glyphicon glyphicon-facetime-video"></i>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="btn btn-default inspire" {{action 'openModal' 'evidence-understanding-inspire' 'popup-modal'}}>Inspire Me <img src="/img/starperson.png" height="20"></button>
      </li>
      <li class="pull-right">
        <span class="glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal' 'row-1-modal'}}></span>
      </li>
    </ul>
  </div>
  <div class="row-modal-content">
    <ul class="list-inline">
      {{#if videoVisible}}
        <li>
          <iframe src="//player.vimeo.com/video/102328619" width="auto" height ="225px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <span {{action 'hideVideo'}} class="cursor-pointer">x</span>
        </li>
      {{/if}}
      {{#with correspondingStickies as selectOptions}}
        {{#each}}
          <li>
            <ul class="list-unstyled">
              <li>
                {{view "editsticky"
                  contentBinding="this"
                  selectOptionsBinding="selectOptions"}}
              </li>
              <li>
                <button {{action "openStickySelectModal" selectOptions this}} class="btn btn-primary btn-sm" style="margin-left:10px">match goals</button>
              </li>
            </ul>
          </li>
        {{/each}}
      {{/with}}
    </ul>
  </div>
</div>