<div class="fixed-modal paper-modal paper">
  <div class="close glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal' 'popup-modal'}}></div>
  <ul class="list-unstyled">
    <li><strong>Unit:</strong> {{unit.title}}</li>
    <li><strong>Standard:</strong> {{unit.standard}}</li>
    <li><strong>Standard Detail:</strong> {{unit.detail}}</li>
  </ul>
  <ul class="list-unstyled">
    {{#each assessments}}
      {{#if isAssessment}}
        <li><strong>Assessment:</strong> {{text}}</li>
        <li><ul>
        {{#each stickies}}
          {{#if isEvidence}}
            <li><strong>Evidence:</strong> {{text}}</li>
            <li><ul>
              {{#each stickies}}
                {{#if isGoal}}
                  <li><strong>Goal</strong> {{text}}</li>
                {{/if}}
              {{/each}}
            </ul></li>
          {{/if}}
          {{#if isActivity}}
            <li><strong>Learning Activity:</strong> {{text}}</li>
          {{/if}}
        {{/each}}
        </ul></li>
      {{/if}}
    {{/each}}
  </ul>
</div>