<div class="fixed-modal paper-modal paper">
 <div class="close glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal'}}></div>
  <table>
    <tr> 
      <td colspan="2">{{unit.title}}</td>
    </tr>
    <tr>
      <th> GOALS </th>
      <th> EVIDENCE </th>
    </tr>
    <tr>
      <td> 
        <ul class="list-unstyled"> 
        {{#each goalsKnowledgeSkillStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
      <td> 
        <ul class="list-unstyled"> 
        {{#each evidenceKnowledgeStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
    </tr>
    <tr>
      <td> 
        <ul class="list-unstyled"> 
        {{#each goalsEnduringUnderstandingStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
      <td> 
        <ul class="list-unstyled"> 
        {{#each evidenceUnderstandingStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
    </tr>
    <tr>
      <td> 
        <ul class="list-unstyled"> 
        {{#each goalsBigIdeaStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
      <td> 
        <ul class="list-unstyled"> 
        {{#each evidenceIdeaStickies}}
          <li>{{text}}</li>
        {{/each}}
        </ul>
      </td>
    </tr>
    <tr>
      <th> ASSESSMENTS </th>
      <th> ACTIVITIES </th>
    </tr>
    <tr>
      <td> list of assessments </td>
      <td> list of activities </td>
    </tr>
    <tr> 
      <th colspan="2">CONTENT STANDARDS</th>
    </tr>
    <tr>
      <td> {{unit.standard}} </td>
      <td> {{unit.detail}} </td>
    </tr>
  </table>
</div>