<div class="row-modal row-0-modal whiteboard">
	<div class="sticky-modal-header">
		<ul class="list-inline">
      <li>
        <ul class="list-unstyled">
          <li><b class="section-title">Knowledge and Skills</b></li>
          <li>
            <a href="#" {{action 'showVideo'}}>
               What are Knowledge and Skills?
              <i class="glyphicon glyphicon-facetime-video"></i>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="btn btn-default inspire" {{action 'openModal' 'goals-knowledgeskill-inspire' 'popup-modal'}}>Inspire Me <img src="/img/starperson.png" height="20"></button>
      </li>
      <li class="pull-right">
        <span class="glyphicon glyphicon-remove cursor-pointer" {{action 'closeModal' 'row-0-modal'}}></span>
      </li>
    </ul>
 	</div>
  <div class="row-modal-content">
    <ul class="list-inline">
      {{#if videoVisible}}
        <li>
          Video Here <span {{action 'hideVideo'}} class="cursor-pointer">x</span>
        </li>
      {{/if}}
      {{#each}}
        <li>
          {{view "editsticky" contentBinding="this"}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>