<div class="container-fluid index">
  <div class="header row">
    <span class="title">
      Unit: {{input valueBinding="unit.title" class="title-input" sizeBinding="unit.titleLength"}}
    </span>
    <button class="btn btn-warning btn-standards">Choose my standards</button>
  </div>
  <div class="logo">
    <a href="/">
      <img height="80" src="/img/StickyUnitLogo.png">
    </a>
  </div>
  <div class="header row">
    <div class="panel panel-info panel-standards">
      <div class="panel-heading cursor-pointer" data-toggle="collapse" href="#collapseStandards">
        <h4 class="panel-title">
          {{unit.standard}}
          <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        </h4>
      </div>
      <div id="collapseStandards" class="panel-collapse collapse">
        <div class="panel-body">
          {{unit.detail}}
        </div>
      </div>
    </div>
  </div>

  <div class="whiteboard">
    <div class="row">
      <!-- GOALS ROW -->

      <div class="col-md-12 heading">
        <h3>GOALS</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Knowledge and Skills</b><br>
        <span><a href="home-route">What are Knowledge and Skills?
        <img height="20" src="/img/videocamera.png"></a></span>
        {{view 'stickystack' section="goals-knowledgeskill"}}
        {{!--
        <div {{action 'openModal' 'template_name' 'modal3'}}>test</div>
        --}}
        {{!-- <div class="sticky center-block cursor-pointer" {{action 'openStickyListModal' 'goals-knowledgeskill' 'modal'}}>
          goals-knowledgeskill
        </div> --}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Enduring Understandings</b><br>
        <span><a href="home-route">What are Enduring Understandings?
        <img height="20" src="/img/videocamera.png"></a></span>
        {{view 'stickystack' section="goals-enduringunderstanding"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Big Idea</b><br>
        <span><a href="home-route">What is a Big Idea? <img height="20" src=
        "/img/videocamera.png"></a></span>

        {{view 'stickystack' section="goals-bigidea"}}
      </div>
    </div>

    <div class="row">
      <!-- EVIDENCE ROW -->

      <div class="col-md-12 heading">
        <h3>EVIDENCE</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Knowledge and Skills</b><br>
        <span><a href="home-route">How do I create this evidence?
        <img height="20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="evidence-knowledge"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Understandings</b><br>
        <span><a href="home-route">How do I create this evidence?
        <img height="20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="evidence-understanding"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Big Idea</b><br>
        <span><a href="home-route">How do I create this evidence?
        <img height="20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="evidence-bigidea"}}
      </div>
    </div><!-- ASSESSMENTS ROW -->

    <div class="row">
      <div class="col-md-12 heading">
        <h3>ASSESSMENTS</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Performance Tasks</b><br>
        <span><a href="home-route">What are performance tasks? <img height=
        "20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="assessments-performancetasks"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Academic Prompts</b><br>
        <span><a href="home-route">What are academic prompts? <img height=
        "20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="assessments-academicprompts"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Quizzes and Tests</b><br>
        <span><a href="home-route">What are quizzes/tests? <img height="20"
        src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="assessments-quiztest"}}
      </div>
    </div><!-- LEARNING ACTIVITIES ROW -->

    <div class="row">
      <div class="col-md-12 heading">
        <h3>LEARNING ACTIVITIES</h3>
      </div>

      <div class="col-md-12">
        <span><a href="home-route">How do I create learning activities?
        <img height="20" src="/img/videocamera.png"></a></span>

        {{view 'stickystack' section="activities-listofassessments"}}
      </div>
    </div>
  </div>
</div>