<div class="container-fluid index">
  <div class="logo">
    <a href="/">
      <img src="/img/StickyUnit.png">
    </a>
  </div>
  <div class="header row">
    <span class="title">
      {{input valueBinding="unit.title" placeholder="<name my unit>" class="title-input" sizeBinding="unit.titleLength"}}
    </span>
    <button class="btn btn-primary btn-standards" {{action 'openModal' 'standards' 'popup-modal'}}>Choose my standards</button>
    {{#if unit.standard}}
      <div class="panel panel-default panel-standards">
        <div class="panel-heading cursor-pointer" data-toggle="collapse" href="#collapseStandards">
          <h4 class="panel-title">
            {{unit.standard}}
            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
          </h4>
        </div>
        <div id="collapseStandards" class="panel-collapse collapse">
          <div class="panel-body">
            {{{unit.detail}}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="main whiteboard row">
    <div class="row">
      <!-- GOALS ROW -->

      <div class="col-md-12 heading">
        <h3>GOALS</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Knowledge and Skills</b><br>
        {{view 'stickystack' section="goals-knowledgeskill"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Enduring Understandings</b><br>
        {{view 'stickystack' section="goals-enduringunderstanding"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Big Idea</b><br>
        {{view 'stickystack' section="goals-bigidea"}}
      </div>
    </div>

    <div class="row">
      <!-- EVIDENCE ROW -->

      <div class="col-md-12 heading">
        <h3>EVIDENCE</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Knowledge and Skills</b><br>
        {{view 'stickystack' section="evidence-knowledge"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Understandings</b><br>
        {{view 'stickystack' section="evidence-understanding"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Evidence of Big Idea</b><br>
        {{view 'stickystack' section="evidence-idea"}}
      </div>
    </div><!-- ASSESSMENTS ROW -->

    <div class="row">
      <div class="col-md-12 heading">
        <h3>ASSESSMENTS</h3>
      </div>

      <div class="col-md-4">
        <b class="section-title">Performance Tasks</b><br>
        {{view 'stickystack' section="assessments-performancetasks"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Academic Prompts</b><br>
        {{view 'stickystack' section="assessments-academicprompts"}}
      </div>

      <div class="col-md-4">
        <b class="section-title">Quizzes and Tests</b><br>
        {{view 'stickystack' section="assessments-quiztest"}}
      </div>
    </div><!-- LEARNING ACTIVITIES ROW -->

    <div class="row">
      <div class="col-md-12 heading">
        <h3>LEARNING ACTIVITIES</h3>
      </div>

      <div class="col-md-12">
        {{view 'stickystack' section="activities-listofassessments" activitiesSection='true'}}
      </div>
    </div>
  </div>


  <div class="footer row">
    <button class="btn btn-success btn-export center-block" {{action 'openModal' 'exportwork' 'popup-modal'}}>
      Export my work!
    </button>
  </div>
</div>